@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 18px ), repeating-linear-gradient( #7ed95755, #7ed957 );
}

.container {
    width: 80%;
    max-width: 1000px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.subscription-list {
    margin-bottom: 30px;
}

.subscription-list h2 {
    color: #40aa54;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #40aa54;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #35a04b;
}

.message {
    text-align: center;
    color: #40aa54;
    font-weight: bold;
    margin-bottom: 20px;
}