@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* global variables */
:root {
  --green: #7ed957;
  --black: black;
  --light-color: #666;
  --box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.164);
  --border: 2rem solid rgba(0, 0, 0.1);
  --outline: 0.1rem solid rgba(0, 0, 0.1);
}

/* universal selection (for common properties) */
* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
}

/* anchor tag style */
a {
  text-decoration: none;
}

/* body tag style */
body {
  margin: 0px;
  padding: 5px;
  font-family: poppins;
  background: #fffddd;
}

/* when text is selected */
::selection {
  color: #ffffff;
  background-color: #40aa54;
}

/* Navigation Header properties*/
.header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 5%;
  background: #fff;
  box-shadow: var(--box-shadow);
  width: 100%;
  height: 85px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  /*max-width: 1070px;*/
  /*margin: auto;*/
  /*padding: 35px;*/
  /*margin-left: 90px;*/
}

/* logo properties */
.header .logo {
  height: 90px;
  width: 159px;
  transition: transform 0.3s ease; /* Smooth transition for scaling */
}

.header .logo:hover {
  transform: scale(1.03); /* Adjust the scale factor as desired */
}

.header .navbar a {
  position: relative;
  font-size: 1.8rem;
  margin: 0 1rem;
  color: var(--black);
}

.header .navbar a::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--green);
  position: absolute;
  left: 0;
  bottom: -4px; /* Position the underline below the text */
  transition: width 0.3s ease; /* Adjust the speed here if needed */
}

.header .navbar a:hover::after {
  width: 100%;
}

.header .navbar a:hover {
  color: var(--green);
}

.header .icons div {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  padding: 0;
  border-radius: 0.5rem;
  background: #eee;
  color: var(--black);
  font-size: 2rem;
  margin-right: 0.3rem;
  text-align: center;
  cursor: pointer;
}

.header .icons div:hover {
  background: var(--green);
  color: white;
}

#menu-btn {
  display: none;
}

.btn {
  border: 0.2rem solid var(--black);
  margin-top: 1rem;
  display: inline-block;
  padding-right: 0px;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  color: var(--black);
  cursor: pointer;
  background: none;
}

.btn:hover {
  background: var(--green);
  color: #fff;
}

/* banner section */
section {
  padding-top: 100px;
  padding: 10px 9%;
}

.banner {
  max-width: 1250px;
  width: 95%;
  height: 500px;
  border-width: 5px;
  border-radius: 30px;
  background-color: #ecf7ee;
  margin: 10px auto;
  margin-top: 100px;
  position: relative;
  overflow: hidden;
  background-image: url(../images/home-banner1.png);
  background-repeat: no-repeat;
  background-size: 1252px;
  background-position: center;
  padding: 5px;
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-top: 80px;
  margin-left: 12px;
  position: relative;
}
.content h1 {
  font-size: 5.5rem;
  line-height: 50px;
  color: #202020;
}
.content p {
  color: #4eb060;
  font-size: 1.7rem;
  margin-top: 4px;
  text-transform: none;
}

.content h1 span {
  color: var(--green);
}

/* discount banner */
.discount-banner {
  max-width: 1250px;
  width: 95%;
  height: 500px;
  border-width: 5px;
  border-radius: 30px;
  background-color: #ecf7ee;
  margin: 10px auto;
  margin-top: 100px;
  position: relative;
  overflow: hidden;
  background-image: url(../images/discount-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sale-heading {
  position: absolute;
  bottom: 10px;
  right: 495px; 
  color: white;
  font-weight: bold;
  font-size: 4rem;
  margin-top: 2rem;
  /*text-align: center;*/
}

.countdown-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 2rem;
  max-width: 100%;
  text-align: center;
  color: white; /* Set all text in countdown to white */
  position: absolute;
  bottom: 20px; /* Adjust to move vertically */
  right: 20px; /* Adjust to move horizontally */
}

.big-text {
  font-weight: bold;
  font-size: 6rem;
  line-height: 1;
  margin: 0 2rem;
}

.countdown-el span {
  font-size: 1.3rem;
}


/* categories */
#category {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.category-heading span {
  margin-top: 18px;
  color: #000; /* Initial color */
  cursor: pointer; /* Changes cursor to pointer on hover */
  transition: color 0.3s; /* Smooth color transition */
}

.category-heading span:hover {
  color: var(--green);
}
.category-heading,
.product-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%; /* Ensure it takes the full width of its parent */
  padding-left: 0; /* Ensure there's no left padding */
  margin-top: 5rem;
  margin-left: 11.9rem;
}
.category-heading h2,
.popular-product-text h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #202020;
  letter-spacing: 0.5px;
}
.category-heading span,
.product-heading span {
  font-size: 15px;
  color: #252222;
  font-weight: 400;
  letter-spacing: 1px;
}
.category-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  gap: 15px;
}
.fa-search {
  cursor: pointer;
}
.category-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  border-radius: 10px;
  min-height: 130px;
  min-width: 130px;
  border: 1.2px solid rgba(0, 0, 0, 0.03);
  cursor: pointer;
}
.category-box img {
  height: 52px;
  width: 74.28px;
  object-fit: contain;
  object-position: center;
  transition: all ease 0.1s;
}
.category-box span {
  color: #393939;
  font-size: 1rem;
  margin-top: 20px;
  letter-spacing: 0.3px;
  font-weight: 600;
}
.category-box:hover img {
  transform: scale(1.1);
  transition: all ease 0.1s;
}

/*Popular products*/

.productsnumber {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  max-width: 1200px;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.product-card {
  width: 30%; /* Each product will take 30% of the container width */
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
}

.product-card:hover {
  transform: translateY(-10px);
}

.product-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-details {
  padding: 15px;
  text-align: center;
}

.product-details h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-details p {
  font-size: 14px;
  color: #555;
}

.product-details p:last-child {
  font-weight: bold;
  margin-top: 10px;
}

.popular-product-text {
  margin-top: 50px;
  margin-left: 11.9rem;
}

/*-------------------Contact-----------------*/
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-left {
  margin-left: 180px;
  flex-basis: 35%;
  padding-right: 20px; /* Optional: Add padding for spacing */
}

.contact-right {
  flex-basis: 60%;
  padding-left: 20px;
  margin-right: 50px; /* Optional: Add padding for spacing */
}

.contact-left h1 {
  font-size: 40px;
}

.contact-left p {
  margin-top: 30px;
  font-size: 20px;
}

.contact-left p i {
  margin-top: 10px;
  color: var(--green);
  margin-right: 15px;
  font-size: 30px;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  margin-top: 30px;
  text-decoration: none;
  font-size: 35px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover {
  color: var(--green);
  transform: translateY(-5px);
}

.btn.btn2 {
  margin-top: 50px;
  display: inline-block;
  padding: 10px 50px;
  background: var(--green);
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 2px solid black;
  outline: black;
  background: #fffddd;
  padding: 10px;
  margin: 0px 0;
  color: black;
  font-size: 20px;
  border-radius: 2px;
  margin-top: 55px;
  margin-bottom: -40px;
}

form .btn2 {
  padding: 14px 60px;
  font-size: 20px;
  margin-top: -20px;
  margin-bottom: 40px;
  cursor: pointer;
}

.copyright {
  width: 100%;
  font-size: 15px;
  text-align: center;
  padding: 25px;
  background: #fffddd;
  font-weight: 500;
  margin-top: -20px;
}

nav .fa-solid {
  display: none;
}

/* About Us Section */
#about-us {
  padding: 50px 20px;
  text-align: center;
}

#about-us .container {
  max-width: 1200px;
  margin: auto;
}

#about-us .sub-title {
  font-size: 40px;
  color: #202020;
  margin-bottom: 20px;
}

#about-us p {
  font-size: 20px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 15px;
}

/* search bar css */
.search-form
{
  
}
/* border: 0px solid;
   position: absolute;
   top:110%;
   rem: 2rem;
   width: 50rem;
   height: 4.5rem;
   background: white;
   border-radius: .5rem;
   overflow: hidden;
   display: flex;
   align-items: center;
   box-shadow: green; */