:root {
    --primary-color: #fcfcfc;
    --secondary-color: #E8BC0E;
    --text-color: #000000;
    --light-color: #dae9b5;
    --font-family: 'Poppins', sans-serif;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    background-color: var(--light-color);
}

.header .icons {
    position: relative;
}

.header .icons .cart-count {
    display: flex;
    width: 20px;
    height: 20px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: #fff;    
    border-radius: 50%;
    position: absolute;
    top: 70%;
    right: -5px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 10px 20px;
}

.header a {
    color: var(--light-color);
    text-decoration: none;
    font-weight: 500;
    /* margin: 0 10px; */
}

.header .icons .fa {
    color: black;
    margin: 0 3px;
    cursor: pointer;
}

/* Product List */
.title{
    font-size: xx-large;
}
.listProduct .item img{
    width: 100%;
    /* filter: drop-shadow(0 50px 20px #0009); */
}

.listProduct{
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.listProduct .item{
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
}
.listProduct .item:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: transform 0.3s, box-shadow 0.3s;
}

.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}
.listProduct .item .price{
    /* letter-spacing: 2px; */
    padding-top: 5px;
    font-size: small;
    font-weight: bold;
}
.listProduct .item button{
    background-color: #353432;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
}
.listProduct .item button {
    font-size: 14px;
    padding: 8px 12px;
    cursor: pointer;
}

.listProduct .item h2 {
    font-size: medium;
}


/* Cart */
.cartTab {
    background: linear-gradient(135deg, #2c2c2c, #1f1f1f);
    width: 400px;
    background-color: #353432;
    color: #fff;
    position: fixed;
    /* top: 0;
    right: -400px;
    padding-top: 15px;
    bottom: 0; */
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: 0.5s;
    z-index: 1000;
    border: 2px;
    border-radius:5px ;
}

.cartTab h1 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    border-bottom: 1px solid #444;
    padding: 10px;
    font-size: 25px;
}

body.showCart .cartTab {
    right: 0;
}

.cartTab button {
    background-color: lightgreen;
    border: none;
    font-family: var(--font-family);
    font-weight: 500;
}
.cartTab a{
    background-color: lightgreen;
    border: none;
    font-family: var(--font-family);
    font-weight: 500;
    cursor: pointer;
    padding: 20px;
    padding-left: 56px;
    padding-top: 14px;
     
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 0px;
}

.cartTab .close {
    background: linear-gradient(135deg, #d32f2f, #b71c1c);
    color: #fff;
}

.cartTab .close:hover {
    background: #ff5252;
}

.cartTab .a .checkOut{
    background-color: lightgreen;  
}


.cartTab .listCart .item img{
    width: 100%;
    border: 2px solid #444;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
} 
.cartTab .listCart .item{
    display: grid;
    margin-left: 5px;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
    background-color: #2f2f2f;
}

.cartTab .listCart .item .totalPrice {
    font-weight: bold;
    font-size: 15px;
}


.listCart .quantity span {
    display: inline-block;
    width: 20px; 
    height: 22px;
    background-color: #2c3e50;
    color: #fff; 
    font-size: 16px;
    font-weight: bold; 
    cursor: pointer;
    text-align: center;
    line-height: 25px; 
}

.grand-total {
    background-color: #2c3e50;
    color: #ecf0f1; 
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 15px 20px;
    border-top: 2px solid #34495e; 
}

.cartTab .listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #ffffff;
    font-size: small;
    cursor: auto;
}
.cartTab .listCart .item:nth-child(even){
    background-color: #eee1;
}

.cartTab .listCart{
    overflow: auto;
}

.listCart::-webkit-scrollbar {
    width: 8px;
    background-color: #444;
}
.listCart::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 4px;
}


@media only screen and (max-width: 768px) {
    .listProduct {
        grid-template-columns: repeat(2, 1fr);
    }
}

